.env
**/.terraform/
**/.terraform.lock.hcl
*.tfstate
*.tfstate.*
*.tfplan
hop/audit/
hop/*.log

# dados brutos originais
dados/_original.zip

01-etl-visual/aws

# python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
