POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=postgres
POSTGRES_PORT=5432

# usuário de aplicação criado pelo init.sh e usado pelo Hop
ETL_PASSWORD=etl

PGADMIN_EMAIL=admin@local.dev
PGADMIN_PASSWORD=admin